/* Style della sezione in cima alla pagina */
#section-top-page {
    background-color: rgba(236, 250, 250, 0.507);
}

/* Style della scritta che si trova in cima alla pagina */
#top-page-title {
    text-align: center;
    justify-content: center;
    font-size: 3vw;
    width: 100%;
}

h1.mt-1 {
    margin-top: 20px !important;
}

/* Style per le immagini che si trovano in cima alla pagina */
#img-top-page-repubblica-it {
    width: 20%;
    max-width: 80px;
    height: auto;
    float: left;
    right: 80%;
    display: flex;
    margin-top: 2%;
}

#img-top-page-certiquality {
    width: 28%;
    max-width: 100px;
    height: auto;
    float: right;
    display: flex;
}

#img-top-page-logo-itis {
    width: 22%;
    max-width: 100px;
    height: auto;
    display: flex;
    float: right;
    margin-top: 2%;
    margin-right: 1%;
}

/* Personalizzazione della barra di navigazione*/
#navbar {
    background-color: rgb(206, 237, 238);
    width: 100%;
}

.active li:hover {
    background: rgb(170, 237, 238);
    border-radius: 0.5vw;
}

#img-home-navbar {
    width: 100%;
    height: 100%;
}

a:hover #img-home-navbar {    
    background: rgb(170, 237, 238);
    border-radius: 0.5vw;
}

/* Personalizzazione schermata centrale della pagina */
/* Prima riga */
#mid-page-row1-sx{
    background-color: rgb(235, 235, 235);
    margin-top: 2%;
    color: rgb(101, 101, 255);
}

#mid-page-row1-mid{
    text-align: center;
    margin-top: 2%;
    background-color: rgb(235, 235, 235);
    color: rgb(101, 101, 255);
}

#mid-page-row1-dx{
    background-color: rgb(235, 235, 235);
    margin-top: 2%;
    color: rgb(101, 101, 255);
}

/* Seconda riga */

.dx-mid-page-row2{
    background-color: rgb(235, 235, 235);
    margin-top: 4%;
    color: rgb(101, 101, 255);
}

#title-row2-dx {
    color: rgb(101, 101, 255);
}

#mid-page-row2-sx{
    background-color: rgb(235, 235, 235);
    margin-top: 2%;
    color: rgb(101, 101, 255);
}

#mid-page-row2-mid{
    text-align: center;
    margin-top: 2%;
    background-color: rgb(235, 235, 235);
}

#mid-page-title-row2-mid{
    color: rgb(101, 101, 255);
}

#mid-page-row2-text-mid{
    color: rgb(101, 101, 255);
}

#mid-page-row2-table-mid{
    border-collapse: collapse;
    border: 1px solid black;
}

/* Style delle informazioni che si trovano in fondo alla pagina */
#footer {
    background-color: rgb(91, 107, 253);
    width: 100%;
    line-height: 1.5;
    text-align: center;
    color: white;
    bottom: 0%;
}

#footer-link{
    color: rgb(129, 213, 228);
}

/* Per togliere la riga dei link */
a:-webkit-any-link {
    text-decoration: none;
}

/* media queries   max-width: X ==>  (pixel schermo) < X  |  min-width:X ==>   (pixel schermo) >= X   */

@media screen and (max-width: 321px) { /* XXS --> iPhone 5/SE */

    #link-row2-row3-dx {
        font-size: 11px !important;
        margin-top: 6px;
        margin-bottom: 8px;
    }

    #dx-mid-page-row2-row3-subtitle {
        font-size: 11px !important;
        text-align: center;
    }

    #dx-mid-page-row2-row3-title {
        font-size: 13px !important;
        text-align: center;
        margin-top: 8px;
    }

    #img-mid-pon-studenti{
        width: 100px !important;
        height: auto;
        float: right;
        margin-right: 3px;
        margin-top: 2px;
    }

    #link-row2-sx {
        font-size: 15px;
        margin-top: 10px  !important;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 575px) { /* XS */

    /* Parte superiore della pagina */

    #home-navbar {
        width: 40px;
        height: 45px;
    }

    #img-home-navbar {
        margin-bottom: 15px;
    }

    /* Prima riga della pagina */

    #mid-page-row1-title-mid {
      font-size: 16px;
      margin-top: 10px;
    }

    #mid-page-row1-text-mid {
        font-size: 12px;
        margin-bottom: 10px;
    }

    #img-mid-page-row1-dx-pon {
        width: 110px;
        height: auto;
        float: right;
        margin-left: 10px;
        margin-top: 6px;
    }

    #mid-page-row1-mid {
        border-radius: 10px;
    }

    #mid-page-title-row1-dx{
        text-align: right;
        font-size: 15px;
    }

    #mid-page-link-row1-sx {
        font-size: 15px;
    }

    #mid-page-title-row1-sx {
        margin-bottom: 10px;
    }

    #mid-page-row1-sx {
        left: 5px;
        border-radius: 10px;
    }

    #mid-page-row1-dx {
        right: 5px;
        border-radius: 10px;
    }

    /* Seconda riga */

    #mid-page-row2-sx {
        left: 5px;
        border-radius: 10px;
    }

    #title-row2-sx {
        margin-bottom: 10px;
    }

    #link-row2-sx {
        font-size: 15px;
        margin-top: 15px;
        margin-bottom: 10px;
    }

    #title-row2-row1-dx{
        text-align: center;
        font-size: 12px;
    }

    #mid-page-row2-row1-img-mask {
        width: 100px;
        height: auto;
        float: right;
        margin-right: 15px;
        margin-top: 10px;
    }

    #mid-page-row2-row1-img-gstreet{
        width: 100px;
        height: auto;
        float: right;
        margin-right: 15px;
        margin-top: 3px;
    }

    #mid-page-title-row2-mid {
        font-size: 25px;
        margin-top: 10px;
    }

    #dx-mid-page-row2-row1 {
        border-radius: 10px;
        height: 200px;
        margin-top: 7px;
        width: 200px;
    }

    #dx-mid-page-row2-row2 {
        border-radius: 10px;
        height: 150px;
        margin-top: 7px;
        width: 200px;
    }

    #dx-mid-page-row2-row3 {
        border-radius: 10px;
        height: 200px;
        margin-top: 7px;
        width: 200px;
    }

    #dx-mid-page-row2-row2-title {
        text-align: center;
        margin-top: 10px;
        font-size: 18px;
    }

    #dx-mid-page-row2-row3-title {
        font-size: 14px;
        text-align: center;
        margin-top: 8px;
    }

    #dx-mid-page-row2-row3-subtitle {
        font-size: 12px;
        text-align: center;
    }

    #link-row2-row3-dx {
        font-size: 13px;
        margin-top: 6px;
        margin-bottom: 8px;
    }

    #dx-mid-page-row2-row4-title {
        font-size: 14px;
        text-align: center;
        margin-top: 8px;
    }

    #img-mid-pon-studenti{
        width: 120px;
        height: auto;
        float: right;
        margin-right: 3px;
        margin-top: 2px;
    }

    #dx-mid-page-row2-row4 {
        border-radius: 10px;
        height: 100px;
        margin-top: 7px;
        width: 200px;
    }

    #mid-page-row2-mid {
        border-radius: 10px;
    }

    #mid-page-row2-text-mid {
        font-size: 18px;
        margin-bottom: 10px;
    }

    #mid-page-row2-link-mid {
        font-size: 12px;
        margin-bottom: 10px;
    }

    #mid-page-row2-table-mid{
        width: 100%;
        height: 40px;
    }

    /* Piè di pagina */

    #footer {
        font-size: 10px;
    }
}

@media screen and (min-width: 576px) { /* SM */
    
    #mid-page-row1-title-mid {
        font-size: 25px;
        margin-top: 10px;
    }

    #mid-page-row1-text-mid {
        font-size: 18px;
        margin-bottom: 10px;
    }
}

@media screen and (min-width: 768px) { /* MD */

    #mid-page-row1-title-mid {
        margin-top: 20px;
    }

    #mid-page-row1-text-mid {
        margin-top: 40px;
    }
}

@media screen and (min-width: 992px) { /* LG */
}

@media screen and (min-width: 1200px) { /* XL */
}

@media screen and (min-width: 1400px) { /* XXL */
}

/*  TABELLA

            <table id="mid-page-row2-table-mid">
              <tbody>
                <!-- Prima riga -->
                <tr>
                  <td>
                    Data
                  </td>
                  <td>
                    Classe di Concorso
                  </td>
                  <td>
                    Aula
                  </td>
                  <td>
                    Turno
                  </td>
                </tr>
                <!-- Seconda riga -->
                <tr>
                  <td>
                    Data
                  </td>
                  <td>
                    Classe di Concorso
                  </td>
                  <td>
                    Aula
                  </td>
                  <td>
                    Turno
                  </td>
                </tr>
                <!-- Terza riga -->
                <tr>
                  <td>
                    Data
                  </td>
                  <td>
                    Classe di Concorso
                  </td>
                  <td>
                    Aula
                  </td>
                  <td>
                    Turno
                  </td>
                </tr>
                <!-- Quarta riga -->
                <tr>
                  <td>
                    Data
                  </td>
                  <td>
                    Classe di Concorso
                  </td>
                  <td>
                    Aula
                  </td>
                  <td>
                    Turno
                  </td>
                </tr>
              </tbody>
          </div>
        </div>



*/