/* Style della sezione in cima alla pagina */
#top-page {
    background-color: rgba(236, 250, 250, 0.507);
}

/* Style della scritta che si trova in cima alla pagina */
#titolo {
    text-align: center;
    justify-content: center;
    font-size: 3vw;
    width: 100%;
}

h1.mt-1 {
    margin-top: 20px !important;
}

/* Style per le immagini che si trovano in cima alla pagina */
#img-top-rep {
    width: 20%;
    max-width: 80px;
    height: auto;
    float: left;
    right: 80%;
    display: flex;
    margin-top: 2%;
}

#img-top-cert {
    width: 28%;
    max-width: 100px;
    height: auto;
    float: right;
    display: flex;
}

#img-top-logo {
    width: 22%;
    max-width: 100px;
    height: auto;
    display: flex;
    float: right;
    margin-top: 2%;
    margin-right: 1%;
}

/* Personalizzazione della barra di navigazione*/
#navbar {
    background-color: rgb(206, 237, 238);
    width: 100%;
}

.active li:hover {
    background: rgb(170, 237, 238);
    border-radius: 0.5vw;
}

#home-img {
    width: 100%;
    height: 100%;
}

a:hover #home-img {    
    background: rgb(170, 237, 238);
    border-radius: 0.5vw;
}

/* Personalizzazione schermata centrale della pagina */
/* Prima riga */
#sx-mid-page{
    background-color: rgb(235, 235, 235);
    margin-top: 2%;
    color: rgb(101, 101, 255);
}

#mid-mid-page{
    text-align: center;
    margin-top: 2%;
    background-color: rgb(235, 235, 235);
    color: rgb(101, 101, 255);
}

#dx-mid-page{
    background-color: rgb(235, 235, 235);
    margin-top: 2%;
    color: rgb(101, 101, 255);
}

/* Seconda riga */

#dx-mid-page-row2{
    background-color: rgb(235, 235, 235);
    margin-top: 2%;
    color: rgb(101, 101, 255);
}

/* Style delle informazioni che si trovano in fondo alla pagina */
#footer {
    background-color: rgb(91, 107, 253);
    width: 100%;
    line-height: 1.5;
    text-align: center;
    color: white;
    bottom: 0%;
}

#footer-link{
    color: rgb(129, 213, 228);
}

/* Per togliere la riga dei link */
a:-webkit-any-link {
    text-decoration: none;
}

/* media queries */
@media screen and (max-width: 575px) { /* XS */

    /* Parte superiore della pagina */

    #home {
        width: 40px;
        height: 45px;
    }

    #home-img {
        margin-bottom: 15px;
    }

    /* Prima riga della pagina */

    #title-row1-mid {
      font-size: 16px;
      margin-top: 10px;
    }

    #text-row1-mid {
        font-size: 12px;
        margin-bottom: 10px;
    }

    #img-mid-pon {
        width: 110px;
        height: auto;
        float: right;
        margin-left: 10px;
        margin-top: 15px;
    }

    #mid-mid-page {
        border-radius: 10px;
    }

    #title-row1-dx{
        text-align: right;
        font-size: 15px;
    }

    #link-row1-sx {
        font-size: 15px;
    }

    #title-row1-sx {
        margin-bottom: 10px;
    }

    #sx-mid-page {
        left: 5px;
        border-radius: 10px;
    }

    #dx-mid-page {
        right: 5px;
        border-radius: 10px;
    }

    /* Seconda riga */

    #title-row2-sx {
        margin-bottom: 10px;
    }

    #link-row2-sx {
        font-size: 15px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    #title-row2-dx{
        text-align: center;
        font-size: 15px;
    }

    #img-mid-mask {
        max-width: 100px;
        height: 100px;
        float: right;
        margin-left: 10px;
        margin-top: 10px;
    }

    #dx-mid-page-row2 {
        right: 5px;
        border-radius: 10px;
    }

    /* Piè di pagina */

    #footer {
        font-size: 10px;
    }
}

@media screen and (min-width: 576px) { /* SM */
    
    #title-row1-mid {
        font-size: 25px;
        margin-top: 10px;
    }

    #text-row1-mid {
        font-size: 18px;
        margin-bottom: 10px;
    }
}

@media screen and (min-width: 768px) { /* MD */

    #title-row1-mid {
        margin-top: 20px;
    }

    #text-row1-mid {
        margin-top: 40px;
    }
}

@media screen and (min-width: 992px) { /* LG */
}

@media screen and (min-width: 1200px) { /* XL */
}

@media screen and (min-width: 1400px) { /* XXL */
}