/* Style della sezione in cima alla pagina */
#top-page {
    background-color: rgba(236, 250, 250, 0.507);
}

/* Style della scritta che si trova in cima alla pagina */
#titolo {
    text-align: center;
    justify-content: center;
    font-size: 3vw;
    width: 100%;
}

/* Style per le immagini che si trovano in cima alla pagina */
#img-top-rep {
    width: 20%;
    max-width: 80px;
    height: auto;
    float: left;
    right: 80%;
    display: flex;
    margin-top: 2%;
}

#img-top-cert {
    width: 28%;
    max-width: 100px;
    height: auto;
    float: right;
    display: flex;
}

#img-top-logo {
    width: 22%;
    max-width: 100px;
    height: auto;
    display: flex;
    float: right;
    margin-top: 2%;
    margin-right: 1%;
}

/* Personalizzazione dei margini */
.mt-1 {
    margin-top: 20px !important;
}

/* Personalizzazione della barra di navigazione*/
#navbar{
    background-color: rgb(206, 237, 238);
    width: 100%;
}

/* Style delle informazioni che si trovano in fondo alla pagina */
#footer {
    position: fixed;
    background-color: rgb(91, 107, 253);
    width: 100%;
    font-size: 11px;
    line-height: 1.5;
    text-align: center;
    color: white;
    bottom: 0%;
    margin-right: auto;
    margin-left: auto;
}

#footer-link{
    color: white;
}